<a href="https://colab.research.google.com/github/Salvini126/informatica/blob/main/prerVerIUDz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pymongo
import pandas as pd

In [ ]:
client = pymongo.MongoClient("mongodb://webUser:xxx123xxx@cluster0-shard-00-00.algwo.mongodb.net:27017,cluster0-shard-00-01.algwo.mongodb.net:27017,cluster0-shard-00-02.algwo.mongodb.net:27017/?ssl=true&replicaSet=atlas-am4cb3-shard-0&authSource=admin&retryWrites=true&w=majority")

In [ ]:
db=client.sample_supplies
db

Database(MongoClient(host=['cluster0-shard-00-02.algwo.mongodb.net:27017', 'cluster0-shard-00-01.algwo.mongodb.net:27017', 'cluster0-shard-00-00.algwo.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, replicaset='atlas-am4cb3-shard-0', authsource='admin', retrywrites=True, w='majority', tls=True), 'sample_supplies')

In [ ]:
df=pd.DataFrame(list(db.sales.find()))
df

,_id,saleDate,items,storeLocation,customer,couponUsed,purchaseMethod,costumer
0,5bd761dcae323e45a93cd005,None,"[{'name': 'binder', 'tags': ['school', 'genera...",Seattle,"{'gender': 'M', 'age': 73, 'email': 'me@lih.st...",False,Phone,{'age': 24}
1,5bd761dcae323e45a93cd025,None,"[{'name': 'notepad', 'tags': ['office', 'writi...",Denver,"{'gender': 'M', 'age': 81, 'email': 'hegbif@lu...",False,Online,{'age': 24}
2,5bd761dcae323e45a93cd015,None,"[{'name': 'notepad', 'tags': ['office', 'writi...",Seattle,"{'gender': 'M', 'age': 76, 'email': 'apokas@mi...",False,Online,{'age': 24}
3,5bd761dcae323e45a93cd0c4,None,"[{'name': 'notepad', 'tags': ['office', 'writi...",Seattle,"{'gender': 'M', 'age': 67, 'email': 'jul@oruso...",False,In store,{'age': 24}
4,5bd761dcae323e45a93cd04f,None,"[{'name': 'binder', 'tags': ['school', 'genera...",Seattle,"{'gender': 'M', 'age': 69, 'email': 'ewha@oc.k...",False,In store,{'age': 24}
...,...,...,...,...,...,...,...,...
308,5bd761deae323e45a93ce1fa,None,"[{'name': 'binder', 'tags': ['school', 'genera...",Austin,"{'gender': 'M', 'age': 72, 'email': 'ducifes@j...",False,Online,{'age': 24}
309,5bd761deae323e45a93ce343,None,"[{'name': 'binder', 'tags': ['school', 'genera...",Seattle,"{'gender': 'M', 'age': 68, 'email': 'miwacpe@b...",False,Online,{'age': 24}
310,5bd761deae323e45a93ce2ac,None,"[{'name': 'binder', 'tags': ['school', 'genera...",Seattle,"{'gender': 'M', 'age': 71, 'email': 'ir@rartaw...",False,Online,{'age': 24}
311,5bd761deae323e45a93ce34b,None,"[{'name': 'binder', 'tags': ['school', 'genera...",Denver,"{'gender': 'F', 'age': 71, 'email': 'beihadu@k...",False,In store,{'age': 24}
312,5bd761deae323e45a93ce23e,None,"[{'name': 'notepad', 'tags': ['office', 'writi...",Denver,"{'gender': 'F', 'age': 74, 'email': 'dujum@kep...",False,In store,{'age': 24}

In [ ]:
client = pymongo.MongoClient("mongodb://salvini:Forzainter2010@cluster0-shard-00-00.biumq.mongodb.net:27017,cluster0-shard-00-01.biumq.mongodb.net:27017,cluster0-shard-00-02.biumq.mongodb.net:27017/myFirstDatabase?ssl=true&replicaSet=atlas-fj2ixn-shard-0&authSource=admin&retryWrites=true&w=majority")

In [ ]:
db1=client.salvini

In [ ]:
df=pd.DataFrame(list(db1.sales.find()))
df

,_id,saleDate,items,storeLocation,customer,couponUsed,purchaseMethod
0,5bd761dcae323e45a93cd068,2013-09-14 20:05:16.962,"[{'name': 'notepad', 'tags': None, 'price': 35...",London,"{'gender': 'M', 'age': 64, 'email': 'erro@finh...",True,In store
1,5bd761dcae323e45a93cd0d0,2017-05-19 22:22:20.915,"[{'name': 'laptop', 'tags': None, 'price': 111...",New York,"{'gender': 'F', 'age': 64, 'email': 'wu@wus.cm...",False,In store
2,5bd761dcae323e45a93cd0d7,2015-05-14 19:23:19.887,"[{'name': 'notepad', 'tags': None, 'price': 27...",Denver,"{'gender': 'M', 'age': 72, 'email': 'hez@juepi...",False,In store
3,5bd761dcae323e45a93cd20e,2014-01-29 02:02:03.245,"[{'name': 'binder', 'tags': None, 'price': 16....",Denver,"{'gender': 'M', 'age': 77, 'email': 'hoawase@e...",False,In store
4,5bd761dcae323e45a93cd0bd,2016-03-31 07:02:02.328,"[{'name': 'notepad', 'tags': None, 'price': 10...",London,"{'gender': 'F', 'age': 72, 'email': 'fu@bolav....",False,Phone
...,...,...,...,...,...,...,...
235,5bd761deae323e45a93ce07d,2014-01-10 22:45:32.782,"[{'name': 'binder', 'tags': None, 'price': 23....",Denver,"{'gender': 'F', 'age': 70, 'email': 'isuiji@ad...",False,In store
236,5bd761deae323e45a93ce194,2017-10-13 19:22:23.582,"[{'name': 'backpack', 'tags': None, 'price': 1...",Austin,"{'gender': 'F', 'age': 73, 'email': 'ukfahoz@m...",False,In store
237,5bd761deae323e45a93ce1ff,2016-09-05 14:19:28.976,"[{'name': 'notepad', 'tags': None, 'price': 11...",London,"{'gender': 'F', 'age': 68, 'email': 'pilcu@oz....",False,Online
238,5bd761deae323e45a93ce2ca,2016-03-08 15:11:46.768,"[{'name': 'laptop', 'tags': None, 'price': 113...",Seattle,"{'gender': 'F', 'age': 71, 'email': 'kan@lepbo...",True,Online
239,5bd761deae323e45a93ce29e,2014-03-03 15:44:24.543,"[{'name': 'binder', 'tags': None, 'price': 23....",Denver,"{'gender': 'F', 'age': 68, 'email': 'mat@ni.pf...",False,In store

1. cancellare tutti i document relativi al negozio di San Diego

In [ ]:
result = db1.sales.find({"storeLocation":"San Diego"})
df = pd.DataFrame(list(result))
df

Empty DataFrame
Columns: []
Index: []

In [ ]:
result = db1.sales.delete_many({"storeLocation": "San Diego"})
result.deleted_count

0

2. invecchiare i clienti di 8 anni

In [ ]:
result=db1.sales.update_many({},{"$inc":{"customer.age":8}})
result.modified_count

240

3. cancellare tutti i tag 'stationary'

In [ ]:
result=db1.sales.aggregate([  
                                   { "$unwind":"$items"},                                                                    
                                   ])
df = pd.DataFrame(list(result))
df

,_id,saleDate,items,storeLocation,customer,couponUsed,purchaseMethod
0,5bd761dcae323e45a93cd068,2013-09-14 20:05:16.962,"{'name': 'notepad', 'tags': None, 'price': 35....",London,"{'gender': 'M', 'age': 72, 'email': 'erro@finh...",True,In store
1,5bd761dcae323e45a93cd068,2013-09-14 20:05:16.962,"{'name': 'notepad', 'tags': None, 'price': 22....",London,"{'gender': 'M', 'age': 72, 'email': 'erro@finh...",True,In store
2,5bd761dcae323e45a93cd068,2013-09-14 20:05:16.962,"{'name': 'binder', 'tags': None, 'price': 25.3...",London,"{'gender': 'M', 'age': 72, 'email': 'erro@finh...",True,In store
3,5bd761dcae323e45a93cd0d0,2017-05-19 22:22:20.915,"{'name': 'laptop', 'tags': None, 'price': 1119...",New York,"{'gender': 'F', 'age': 72, 'email': 'wu@wus.cm...",False,In store
4,5bd761dcae323e45a93cd0d0,2017-05-19 22:22:20.915,"{'name': 'notepad', 'tags': None, 'price': 39....",New York,"{'gender': 'F', 'age': 72, 'email': 'wu@wus.cm...",False,In store
...,...,...,...,...,...,...,...
452,5bd761deae323e45a93ce2ca,2016-03-08 15:11:46.768,"{'name': 'notepad', 'tags': None, 'price': 7.4...",Seattle,"{'gender': 'F', 'age': 79, 'email': 'kan@lepbo...",True,Online
453,5bd761deae323e45a93ce29e,2014-03-03 15:44:24.543,"{'name': 'binder', 'tags': None, 'price': 23.1...",Denver,"{'gender': 'F', 'age': 76, 'email': 'mat@ni.pf...",False,In store
454,5bd761deae323e45a93ce29e,2014-03-03 15:44:24.543,"{'name': 'binder', 'tags': None, 'price': 13.8...",Denver,"{'gender': 'F', 'age': 76, 'email': 'mat@ni.pf...",False,In store
455,5bd761deae323e45a93ce29e,2014-03-03 15:44:24.543,"{'name': 'backpack', 'tags': None, 'price': 10...",Denver,"{'gender': 'F', 'age': 76, 'email': 'mat@ni.pf...",False,In store
456,5bd761deae323e45a93ce29e,2014-03-03 15:44:24.543,"{'name': 'notepad', 'tags': None, 'price': 22....",Denver,"{'gender': 'F', 'age': 76, 'email': 'mat@ni.pf...",False,In store

In [ ]:
result = db1.sales.delete_many({"items.tags": "stationary"})
result.deleted_count

0

4. eliminare tutti i document di clienti che hanno più di 80 anni e meno di 40

In [ ]:
result = db1.sales.delete_many({"$or":[{"customer.age":{"$gt":80}},{"customer.age":{"$lt":40}}]})
result.deleted_count

110

5. calcolare il prezzo medio degli items

In [ ]:
result=db1.sales.aggregate([  
                                   { "$unwind":"$items"},
                                   {"$group":{"_id":">>>","media":{"$avg":"$items.price"}}}                                                                   
                                   ])
df = pd.DataFrame(list(result))
df

   _id                                media
0  >>>  119.3383657587548638132295719844358

6. modificare le mail che hanno il dominio .mz in .com

In [ ]:
result=db1.sales.update_many({ "customer.email": { "$regex": "\.mz" } }, [{"$set": { "customer.email" : {"$replaceOne": { "input" : "$email", "find": ".mz", "replacement" : ".com" }}}}])
result.modified_count

7. modificare il tag 'school' in 'education'

In [ ]:
result = db1.sales.update_many({ "items.tags": { "$regex": "school" } },[                                                                      
                              {"$set": { "items.tags": {"$replaceOne": { "input": "$tags", "find": "school", "replacement": "education" }}}
  }]
)
result.modified_count

8. aggiungere 7 anni alla data degli ordini

In [ ]:
result = db1.sales.update_many({ "items.tags": { "$regex": "school" } }, [{ "$set": { "date": { "$dateAdd": { "startDate": "$date", "unit": "year", "amount": 8 } } } }]
)

9. trovare il prodotto venduto più costoso

10. eliminare dagli ordini tutti i prodotti "envelopes"

11. copiare la collection "vendite" nella collection "vendite_modificata"

12. eliminare la collection "vendite"