<a href="https://colab.research.google.com/github/Salvini126/informatica/blob/main/Simulazione_MongoDB_2_Attoriz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#pymongo è una libreria software:insieme di funzioni o strutture dati predefinite e predisposte per essere collegate ad un programma attraverso un opportuno collegamento(import)
#driver per database: interfaccia software che permette di interagire con uno specifico database
#in questo caso il nostro driver è pymongo
import pymongo
import pandas as pd

In [2]:
#webUser:username di accesso al database
#xxx123xxx:password
#cluster0-shard-00-00.algwo.mongodb.net: URL del server che ospita il nostro database
#27017: la porta TCP su cui è in ascolto il nostro server MongoDb
#replicaSet=atlas-am4cb3-shard-0: server che ospita le repliche
#w=majority: viene data la risposta al termine quando la maggioranza delle repliche ha salvato i dati nel proprio giornale
#
#
client = pymongo.MongoClient("mongodb://webUser:xxx123xxx@cluster0-shard-00-00.algwo.mongodb.net:27017,cluster0-shard-00-01.algwo.mongodb.net:27017,cluster0-shard-00-02.algwo.mongodb.net:27017/?ssl=true&replicaSet=atlas-am4cb3-shard-0&authSource=admin&retryWrites=true&w=majority")

In [3]:
db=client.sample_mflix
db

Database(MongoClient(host=['cluster0-shard-00-02.algwo.mongodb.net:27017', 'cluster0-shard-00-01.algwo.mongodb.net:27017', 'cluster0-shard-00-00.algwo.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, replicaset='atlas-am4cb3-shard-0', authsource='admin', retrywrites=True, w='majority', tls=True), 'sample_mflix')

In [4]:
#serve per visualizzare un documento; per capire come è fatta la nostra collection; ma non sono tutti uguali
doc=db.movies.find_one()
doc

{'_id': ObjectId('573a1391f29313caabcd68d0'),
 'awards': {'nominations': 1, 'text': '1 nomination.', 'wins': 0},
 'cast': ['Harold Lloyd',
  'Mildred Davis',
  "'Snub' Pollard",
  'Peggy Cartwright'],
 'countries': ['USA'],
 'directors': ['Alfred J. Goulding', 'Hal Roach'],
 'fullplot': "As a penniless man worries about how he will manage to eat, he is joined by a young waif and her dog, who are in the same predicament. Meanwhile, across town a dishonest lawyer is working with a gang of criminals, trying to swindle an innocent young heiress out of her inheritance. As the heiress is on her way home from the lawyer's office, she notices the young man and the waif in the midst of their latest problem with the authorities, and she rescues them. Later on, the young man will have an unexpected opportunity to repay her for her kindness.",
 'genres': ['Comedy', 'Short', 'Action'],
 'imdb': {'id': 10146, 'rating': 7.0, 'votes': 639},
 'languages': ['English'],
 'lastupdated': '2015-04-17 00:16:14.220000000',
 'plot': 'A penniless young man tries to save an heiress from kidnappers and help her secure her inheritance.',
 'poster': 'https://m.media-amazon.com/images/M/MV5BNzE1OWRlNDgtMTllNi00NTZiLWIyNTktYTk0MDY1ZWUwYTc5XkEyXkFqcGdeQXVyMjUxODE0MDY@._V1_SY1000_SX677_AL_.jpg',
 'rated': 'TV-G',
 'released': datetime.datetime(1919, 12, 28, 0, 0),
 'runtime': 22,
 'title': 'From Hand to Mouth',
 'tomatoes': {'lastUpdated': datetime.datetime(2015, 8, 21, 18, 45, 11),
  'production': 'Pathè Exchange',
  'viewer': {'meter': 55, 'numReviews': 71, 'rating': 3.3}},
 'type': 'movie',
 'writers': ['H.M. Walker (titles)'],
 'year': 1919}

1. Gli attori dei film

In [5]:
result = db.movies.find({},{"title":1,"cast":1,"_id":0})
df = pd.DataFrame(list(result))
df

,cast,title
0,"[Harold Lloyd, Mildred Davis, 'Snub' Pollard, ...",From Hand to Mouth
1,"[Edward Jobson, Beulah Booker, Edward Connelly...",The Saphead
2,"[Wallace Beery, Barbara Bedford, Alan Roscoe, ...",The Last of the Mohicans
3,"[Jane Gail, Ethel Grandin, William H. Turner, ...",Traffic in Souls
4,"[Tyrone Power Sr., Helen Riaume, Marie Walcamp...",Where Are My Children?
...,...,...
23525,"[Richa Chadda, Sanjay Mishra, Vicky Kaushal, V...",Fly Away Solo
23526,[Chantal Akerman],No Home Movie
23527,"[Holly Aird, Eileen Atkins, Hugh Bonneville, T...",Scenes of a Sexual Nature
23528,"[Toni Rakkaen, Ingkarat Damrongsakkul, Thira C...",How to Win at Checkers (Every Time)
23529,"[Aharon Traitel, Khalifa Natour, Riki Blich, G...",Tikkun

2. Gli attori il cui nome comincia per A

In [6]:
result=db.movies.aggregate([ 
                                   {"$unwind":"$cast"} , 
                                   {"$group": { "_id": "$cast"} }  ,
                                   {"$match":{"_id":{"$regex":"^A"}} }                      
                                   ])
df= pd.DataFrame(list(result))
df

                        _id
0                Alan Gryfe
1             Arthur Miller
2            Abraham Schwab
3                Anna Faris
4          Andrey Merzlikin
...                     ...
3631          Aaron Dismuke
3632          Amira Khalifa
3633           Adam Kaufman
3634  Aleksandr Aleksandrov
3635    Aleksander Gutowski

[3636 rows x 1 columns]

3. Gli attori che hanno recitato in film americani

In [7]:
result=db.movies.aggregate([ 
                                   {"$unwind":"$cast"} , 
                                   {"$unwind":"$countries"} , 
                                   {"$match": {"countries":"USA"}}, 
                                   {"$project": {"_id":"$cast","country":"$countries"}} 
                                   ])
df = pd.DataFrame(list(result))
df

                          _id country
0                Harold Lloyd     USA
1               Mildred Davis     USA
2              'Snub' Pollard     USA
3            Peggy Cartwright     USA
4               Edward Jobson     USA
...                       ...     ...
45926    Sarah Ellen Stephens     USA
45927            Toni Rakkaen     USA
45928  Ingkarat Damrongsakkul     USA
45929          Thira Chutikul     USA
45930          Arthur Navarat     USA

[45931 rows x 2 columns]

4. Gli attori che hanno recitato in film italiani e francesi

In [8]:
result=db.movies.aggregate([ 
                                   {"$unwind":"$cast"} ,  
                                   {"$match":{ "$or":[{"countries":"Italy"},{"countries":"France"}]}}, 
                                   {"$project": {"_id":"$cast","country":"$countries"}} 
                                   ])
df = pd.DataFrame(list(result))
df

                      _id            country
0          Albert Prèjean           [France]
1             Pola Illèry           [France]
2      Edmond T. Grèville           [France]
3             Bill Bocket           [France]
4       Alexander Granach  [Germany, France]
...                   ...                ...
15107        Richa Chadda    [India, France]
15108       Sanjay Mishra    [India, France]
15109       Vicky Kaushal    [India, France]
15110         Vinit Kumar    [India, France]
15111     Chantal Akerman  [Belgium, France]

[15112 rows x 2 columns]

5. I film in cui hanno recitato Margaret Singer e Sarah Ellen Stephens

In [9]:
result=db.movies.aggregate([                                                                                           
                                {"$match": {"$and": [{'cast': 'Margaret Singer'},{'cast': 'Sarah Ellen Stephens'}]}},
                                {"$project":{ '_id': "$cast","film":"$title"}}
                            
                                
                               
])
df2=pd.DataFrame(list(result))
df2

                                       _id     film
0  [Margaret Singer, Sarah Ellen Stephens]  Hallway

6. I film che non hanno la valutazione di metacritic

In [10]:
result=db.movies.find({"metacritic": None},{"title":1,"_id":0})
df=pd.DataFrame(list(result))
df

                                     title
0                       From Hand to Mouth
1                              The Saphead
2                 The Last of the Mohicans
3                         Traffic in Souls
4                   Where Are My Children?
...                                    ...
15690                        Fly Away Solo
15691                        No Home Movie
15692            Scenes of a Sexual Nature
15693  How to Win at Checkers (Every Time)
15694                               Tikkun

[15695 rows x 1 columns]

7. Il numero di film per ogni attore. Ordinare in ordine decrescente a
partire dall’attore che ha recitato di più

In [11]:
result=db.movies.aggregate([
                                {"$unwind":"$cast"},
                                {"$group":{"_id":"$cast","total":{"$sum":1}}},
                                {"$sort":{"total":-1}}
])
df2=pd.DataFrame(list(result))
df2

                        _id  total
0          Gèrard Depardieu     68
1            Robert De Niro     60
2             Michael Caine     52
3      Marcello Mastroianni     50
4             Max von Sydow     49
...                     ...    ...
42145          Sandra Adair      1
42146           Juli Kearns      1
42147        Michael Godere      1
42148         Sam Althuizen      1
42149     Kirsi Tykkylèinen      1

[42150 rows x 2 columns]

8. I primi 10 attori della lista precedente

In [15]:
result=db.movies.aggregate([
                                {"$unwind":"$cast"},
                                {"$group":{"_id":"$cast","total":{"$sum":1}}},
                                {"$sort":{"total":-1}},
                                {"$limit":10}
])
df2=pd.DataFrame(list(result))
df2

                    _id  total
0      Gèrard Depardieu     68
1        Robert De Niro     60
2         Michael Caine     52
3  Marcello Mastroianni     50
4         Max von Sydow     49
5          Bruce Willis     49
6        Morgan Freeman     48
7     Samuel L. Jackson     48
8   Christopher Plummer     47
9          Gene Hackman     46

9. Gli attori che hanno recitato in un numero di film compreso tra 1° e 20

In [13]:
result=db.movies.aggregate([
                                
                                {"$project":{ '_id': "$cast","title":"$title"}},                                
                                {"$limit":20}
])
df2=pd.DataFrame(list(result))
df2

,_id,title
0,"[Harold Lloyd, Mildred Davis, 'Snub' Pollard, ...",From Hand to Mouth
1,"[Edward Jobson, Beulah Booker, Edward Connelly...",The Saphead
2,"[Wallace Beery, Barbara Bedford, Alan Roscoe, ...",The Last of the Mohicans
3,"[Jane Gail, Ethel Grandin, William H. Turner, ...",Traffic in Souls
4,"[Tyrone Power Sr., Helen Riaume, Marie Walcamp...",Where Are My Children?
5,"[Pearl White, Crane Wilbur, Paul Panzer, Edwar...",The Perils of Pauline
6,"[William S. Hart, Clara Williams, Jack Standin...",Hell's Hinges
7,"[Joe Roberts, Ralph Bushman, Craig Ward, Monte...",Our Hospitality
8,"[Buster Keaton, Kathryn McGuire, Joe Keaton, E...",Sherlock Jr.
9,"[Harold Lloyd, Jobyna Ralston, Walter James, L...",The Kid Brother
10,"[Clara Bow, Charles 'Buddy' Rogers, Richard Ar...",Wings
11,"[George Bancroft, Betty Compson, Olga Baclanov...",The Docks of New York
12,"[Lon Chaney, Bernard Siegel, Loretta Young, Ci...","Laugh, Clown, Laugh"
13,[Walt Disney],Steamboat Willie
14,"[Lon Chaney, Leatrice Joy, John Bowers, Hardee...",The Ace of Hearts
15,"[Mitchell Lewis, Alla Nazimova, Rose Dione, Ea...",Salomè
16,"[John Gilbert, Renèe Adorèe, Hobart Bosworth, ...",The Big Parade
17,"[Rin Tin Tin, Nanette, Charles Farrell, June M...",Clash of the Wolves
18,"[Howard Truesdale, Kathleen Myers, Ray Thompso...",Go West
19,"[Charles Chaplin, Mack Swain, Tom Murray, Henr...",The Gold Rush

10. Il numero medio di film in cui ha recitato un attore

In [16]:
result=db.movies.aggregate([
                                {"$unwind":"$cast"},
                                {"$group":{"_id":"$cast","media":{"$sum":1}}},
                                {"$group":{"_id":"null","media":{"$avg":"$media"}}},

])
df2=pd.DataFrame(list(result))
df2

    _id     media
0  null  2.157058

11. I film che hanno un a valutazione di metacritic superiore alla media

In [17]:
result=db.movies.aggregate([
                                {"$unwind":"$cast"},
                                {"$group":{"_id":"$title","total":{"$sum":1}}},
                                {"$sort":{"total":-1}},
                                {"$limit":10}
])
df2=pd.DataFrame(list(result))
df2

                   _id  total
0               Hamlet     24
1        The Terrorist     24
2            Jane Eyre     24
3             The Hole     24
4          The Journey     23
5  Alice in Wonderland     20
6        Madame Bovary     20
7                 Wolf     20
8              Macbeth     20
9            Peter Pan     20

12. Il film con più attori